@media only screen and (min-width: 1150px) {
    .form_large {
        display: block;
    }
    
    .form_small {
        display: none;
    }
}

@media only screen and (max-width: 1150px) {
    .form_large {
        display: none;
    }
    
    .form_small {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    .card_hoc_wrapper {
        width: 80%;
    }
}

@media only screen and (min-width: 450px) {
    .card_hoc_wrapper {
        width: 50%;
    }
}